{% extends "newsportal/base.html" %}

{% block content %}

<!-- Main Content Area -->
    <div class="container mt-4">
      <h1 class="mb-4 section-title">
        <span>Latest News</span>
      </h1>

      <div class="row">
        <!-- News Listing Column -->
        <div class="col-lg-8">

          {% for post in posts %}
          <!-- News Item 1 -->
          <div class="card mb-4 shadow-sm news-list-item">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ post.featured_image.url }}"
                     class="img-fluid rounded-start"
                     width="300"
                     height="200"
                     alt="{{ post.title }}" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">
                   {{ post.content|truncatechars:150 }}
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Published:{{ post.published_at|date:"F j, Y" }}</small>
                  </p>
                  <a href="#" class="btn btn-outline-success btn-sm">Read More</a>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>

        </div>

        <!-- Sidebar (Reused Structure) -->
        <div class="col-lg-4">
          <div class="position-sticky sticky-sidebar-offset">
             {% include "newsportal/home/right/most_popular.html" %}
              {% include "newsportal/home/right/advertisement.html" %}
              {% include "newsportal/home/right/newsletter.html" %}
            
          </div>
        </div>
      </div>
    </div>

{% endblock content %}


